.container_geral{
display: flex;
align-items: center;
flex-direction: column;

}

.container_geral > .title {
    margin: 3rem 0 7rem 0;
    font-style: italic;
}
.container_geral > .title h2 {
    font-size: 5.5rem;

}

.container_geral > .title p {
font-weight: lighter;
color:rgb(221, 221, 118);
}

.container_movies{
    display: flex;
    justify-content: space-between;
    padding: 2% 5rem;
    flex-wrap: wrap;
    flex-direction: row;
}

.container_movies > div {
    width: 300px;
    padding: 20px 10px;
    margin: 0 15px 3% 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.container_movies > div div,h2,p {
    margin: 5px 0;
}

.container_movies > div svg {
color: yellow;
}



.container_movies div > img{
width: 100%;
padding:2% 0.5%;
background:rgb(230, 230, 163);
}

.container_movies > div button {
    border-radius: 5px;
    border: none;
    padding: 14px 36px;
    background: rgb(207, 207, 0);
    color: white;
}

.container_movies > div button:hover {
    border: 1px solid rgb(207, 207, 0);
    background: none;
    transition:0.3s;
}



